
@model WebApplication1.Models.Product


<div class="container-fluid">
    <div class="dl-horizontal d-flex gap-xl-1">
        <div class="col-md-4">
            <img src="@Model.ProductImage" alt="Hình ảnh sản phẩm"   />
        </div>
        <div class="col-md-8">
            <dl>
                <dt> Tên sản phẩm </dt>
                <dd> @Html.DisplayFor(model => model.ProductName)  </dd>
                <dt> Đơn giá </dt>
                <dd> @Html.DisplayFor(model => model.ProductPrice)  </dd>
                <dt> Hình ảnh</dt>

                <dt>  Mô tả</dt>
                <dd>  @Html.DisplayFor(model => model.ProductDescription)</dd>
                <dt>  Danh mục</dt>
                <dd> @Html.DisplayFor(model => model.Category.CategoryName) </dd>
            </dl>
        </div>
    </div>
</div>
